@using NoteSharingCenter.Entity.ValueObjects
@model LoginViewModel

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/Admin/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Admin/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/Content/Admin/vendor/font-awesome/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/Content/Admin/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/Admin/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/Admin/css/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Content/Admin/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/Admin/css/custom.css">

    <!-- Head Libs -->
    <script src="~/Content/Admin/vendor/modernizr/modernizr.js"></script>

</head>
<body>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">

            <div class="panel card-sign">
                <div class="card-title-sign mt-3 text-right">
                    <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Sign In</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {

                        <div class="form-group mb-3">
                            <label>Username</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg" })
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <div class="clearfix">
                                <label class="float-left">Password</label>
                            </div>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-lg", type = "password" })
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8" style="padding:0px;">
                                @Html.ValidationSummary(false)
                                @if (ViewBag.SetLink != null)
                                {
                                <p class="text-left" style="padding-left: 17px;">Go to <a href="@ViewBag.SetLink">Activate</a></p>
                                }
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="submit" class="btn btn-primary mt-2">Sign In</button>
                            </div>
                        </div>

                        <p class="text-center">Don't have an account yet? <a href="/Home/Register">Sign Up!</a></p>
                        <p class="text-center">Go <a href="/Home/Index">Home Page</a></p>

                    }
                </div>
            </div>

        </div>
    </section>
    <!-- end: page -->
    <!-- Vendor -->
    <script src="~/Content/Admin/vendor/jquery/jquery.js"></script>
    <script src="~/Content/Admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Content/Admin/vendor/popper/umd/popper.min.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Admin/vendor/common/common.js"></script>
    <script src="~/Content/Admin/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/Content/Admin/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/Content/Admin/vendor/jquery-placeholder/jquery-placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Content/Admin/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/Content/Admin/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="js/theme.init.js"></script>

</body>
</html>